<section class="collection ani text-center mt-5">
    <h2>Our Products</h2>
    <div class="container">
        <div id="product-container" class="boxex row mt-4 mb-3">
            <div class="image col-sm-12 col-md-4">
                <img src="images/p1 (2).jpg" alt="Pure White Orchid">
                <div class="text">
                    <h2 class="name">Pure White</h2>
                    <p class="price">Rp 120.000</p>
                    <a href="checkout.html" class="mb-3">Beli Sekarang!</a>
                </div>
            </div>
            <div class="image col-sm-12 col-md-4 mb-5 mt-5 m-sm-0">
                <img src="images/p1 (3).jpg" alt="Vibrant Charm">
                <div class="text">
                    <h2 class="name">Vibrant Charm</h2>
                    <p class="price">Rp 90.000</p>
                    <a href="checkout.html" class="mb-3">Beli Sekarang!</a>
                </div>
            </div>
            <div class="image col-sm-12 col-md-4">
                <img src="images/p1 (4).jpg" alt="Lilly Bloom">
                <div class="text">
                    <h2 class="name">Lilly Bloom</h2>
                    <p class="price">Rp 75.000</p>
                    <a href="checkout.html" class="mb-3">Beli Sekarang!</a>
                </div>
            </div>
        </div>
    </div>
</section>
